body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  overflow-x: hidden;
}
svg {
  overflow-x: hidden;
  margin: 0 auto;
  display: table;
}

svg text {
  pointer-events: none;
}

#title-wrapper {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  width: 50%;
}
#title-wrapper .hed {
  font-size: 2.2em;
  font-family: "PT Serif", serif;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 10px;
}
#title-wrapper .subhed {
  margin-bottom: 20px;
  font-size: 1.22em;
}
#title-wrapper .byline {
  /*font-size: 1.1em;*/
  margin-bottom: 5px;
}
#title-wrapper .intro {
  margin-top: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Open Sans", sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.circle {
  stroke: #f7f7f7;
  stroke-width: .5px;
}
.circle.highlight {
  stroke: #3a403d;
  stroke-width: 4px;
}

.tip {
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 1px solid #ccc;
  position: fixed;
  padding: 5px;
  width: 265px;
}
.tip .name {
  font-size: .9em;
  font-weight: 700;
  margin-left: 2px;
}
.tip .ministry {
  color: #777;
  font-size: .8em;
  margin-left: 2px;
  margin-bottom: 8px;
}
.tip table {
  font-size: .8em;
  margin: 0;
  padding: 0;
  width: 100%;
}
.tip table td {
  width: 33.33%;
  text-align: center;
}
.tip table thead td {
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
  font-size: .8em;
}
.tip table tr.data {
  font-size: 1em;
}
.tip table tr td:first-child {
  padding-right: 10px;
}
.tip:before {
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  content: '';
  width: 0;
  height: 0;
}
.tip.top:before {
  top: 98.1%;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.tip.bottom:before {
  bottom: 100%;
  border-bottom: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.annotation path {
  fill: none;
  stroke: #888;
}
.annotation text {
  fill: #fff;
  stroke: none;
  font-size: 1.2em;
}

#legend {
  width: 80%;
  margin: 0 auto;
}
#legend #colors {
  width: 40%;
  float: left;
}
#legend #size {
  width: 40%;
  float: right;
}
#legend #size .c-wrapper {
  margin: 0 auto;
  display: table;
}
#legend .header {
  text-align: center;
  border-bottom: 1px solid #3a403d;
}
#legend .items {
  text-align: center;
}
#legend .item {
  font-size: .8em;
  display: inline-block;
  margin-right: 16px;
}
#legend .item .swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
#legend .legend-circle {
  border-radius: 50%;
  border: 1px dotted #3a403d;
  margin-top: 3px;
}
#viz {
  margin-bottom: 30px;
}
.copy {
  width: 500px;
  margin: 0 auto;
}

h2.byline {
  font-family: "PT Serif", sans-serif;
  font-weight: normal;
  font-size: .9em;
}
h2.byline a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
h2.byline a:hover {
  color: #000;
  text-decoration: underline;
}

.superhead {
  color: #2880b9;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

.related-story a:focus, .related-story a:hover {
  text-decoration: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #title-wrapper {
    width: 95%;
  }
  .annotation text {
    font-size: 1em;
  }
  #legend {
    width: 95%;
  }
  .copy {
    width: 95%;
    margin: 0 auto;
  }
}
